<%- include('../../partials/header'); -%>

<%- include('../../partials/sidebar'); -%>


<div class="main-panel">
  <!-- Navbar area -->
  <%- include('../../partials/navbar'); -%>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title"><%= title %></h4>
              <p class="card-category">Describes all services to be performed by a Program Director</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <div class="card-header">
                    <h3>
                      A: To implement service delivery to the consumer, the Program Director must employ Direct Care Staff and contract with professional service providers to provide services to the Consumer.
                    </h3>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-header">
                    <h4 class="card-title" style="font-weight:bold">
                      1. To employ a direct care staff, develop an account for each employee. Input employee data as follows:
                    </h4>
                    <ol class="card-category">
                      <li>Name</li>
                      <li>Address</li>
                      <li>Date Employed</li>
                      <li>Social Security Number</li>
                      <li>Copies DL Or State ID</li>
                      <li>Expiration Date of ID</li>
                    </ol>
                    <h5 style="padding-left:1rem; margin: 1rem 0 .2rem 0">Qualification Required</h5>
                    <ol class="card-category">
                      <li>Most have a High school certificate  or  GED or complete a competence test  with  three (3) references.</li>
                      <li>Conduct Employee  Backround Check using the Dept of Public Safety Website.</li>
                      <li>Perform the Employability check using the  HHSC Website.</li>
                    </ol>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="card-header">
                    <h4 class="card-title" style="font-weight:bold">
                      2. Train of the direct care staff. The direct care staff will be trained on the following.
                    </h4>
                    <ol class="card-category">
                      <li>Infection control.</li>
                      <li>Special need of the consumer.</li>
                      <li>Complaint process.</li>
                      <li>Abuse and neglect</li>
                      <li>Employee orientation checklist</li>
                      <li>Restraint assessment and training.</li>
                      <li>Behavior plan of the consumer if applicable.</li>
                    </ol>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-header">
                    <h4 class="card-title" style="font-weight:bold">
                      3. Contract with professional service providers for the services selected for the consumer. Note before contract with the vendor the following must be done:
                    </h4>
                    <ol class="card-category">
                      <li>Check the state website for the profession to ensure his or her license is current and active.</li>
                      <li>Check exclusion  both state and federal.</li>
                      <li>Check debar vendor list.</li>
                      <li>Provide the abuse and neglect form to the vendor.</li>
                    </ol>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="card-header">
                    <h3>
                      B: The program director oversees the overall program. Ensures effective quality control. The program director most ensure the following. Under listed.
                    </h3>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="card-header">
                    <h4 class="card-title" style="font-weight:bold">
                      1. The program director most ensure that the following assignments are completed.
                    </h4>
                    <ol class="card-category">
                      <li>Exclusion report for state and federal.</li>
                      <li>Criminal background check.</li>
                      <li>Training  of the direct care staff on abuse and neglect.</li>
                      <li>Critical incident report.</li>
                      <li>Monitoring service delivery.</li>
                      <li>Review of contract notes for completeness and accuracy.</li>
                      <li>Advisory committee meeting.</li>
                      <li>Consumer satisfaction survey.</li>
                      <li>Notifications for time sensitive deadline.</li>
                    </ol>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="card-header">
                    <h4 class="card-title" style="font-weight:bold">
                      2. The program director will review service delivery to the consumer  using the following set target days.
                    </h4>
                    <ol class="card-category">
                      <li>30 days review</li>
                      <li>90 days review</li>
                      <li>180 days review</li>
                      <li>Document the outcome of each review in a report.</li>
                      <li>Implement a corrective action plan anytime a gap  is identified in service delivery to the consumer. The following steps for the corrective action plan are suggested.</li>
                      <li>Call a meeting of the stakeholders.</li>
                      <li>Set a realsitic date for immediate service delivery to the consumer.</li>
                      <li>Indicate the reason for the delay and how  to avoid  such a program in the future.</li>
                      <li>Document the outcome  of the meeting and keep a sign in sheet of the meeting.</li>
                    </ol>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="card-header">
                    <h3>
                      C: Develop an Implementation Plan for each of the consumer services selected in consumer registration section. We have a form for the implementation plan
                    </h3>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-header">
                    <h4 class="card-title" style="font-weight:bold">
                      1. Service delivery to the consumer most be consistent and continuous with no gap. Set up appointment plan for each consumer. Important appointment dates for each consumer are as follows:
                    </h4>
                    <ol class="card-category">
                      <li>Initial Assessment  By  The Nurse2</li>
                      <li>Visit Primary Care Physician for evaluation</li>
                      <li>Set up Annual Physical Examination date.</li>
                      <li>Select date for Dental Assessment</li>
                      <li>Select date for Vision Examination</li>
                      <li>Select the start date for other services indicated in the PDP.</li>
                    </ol>
                    <p style="font-weight: bold">NOTE: All services most be started 15 -30days from date of service inception in the IPC or PDP.</p>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-header">
                    <h4 class="card-title" style="font-weight:bold">
                      2. Review service delivery to the consumer using the following set target dates:
                    </h4>
                    <ol class="card-category">
                      <li>30 DAYS REVIEW</li>
                      <li>90 DAYS REVIEW</li>
                      <li>120 DAYS REVIEW</li>
                    </ol>
                    <ul class="card-category">
                      <li>Document outcome of every review and prepare a progress report.</li>
                      <li>Implement a corrective action plan immediately any  gap is identified in the service  delivery to the consumer</li>
                    </ul>
                    <h5 style="margin-top:.5rem">Use the following steps for the Corective Action Plan.</h5>
                    <ol class="card-category">
                      <li>Hold a meeting with the relevant stakeholders.</li>
                      <li>Set a realistic date for  the immediate services delivery to the consumer.</li>
                      <li>Indicate the reasons for the delay and how to eliminate the problem in Future.</li>
                      <li>Document the outcome of the meeting and keep a sign in sheet of the meeting.</li>
                    </ol>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-header">
                    <h4 class="card-title" style="font-weight:bold">
                      3. Consumer Assessment
                    </h4>
                    <ol class="card-category">
                      <li>Develop the Individualized Emergency  Plan for the Consumer(Add important  phone numbers for Emergency services.</li>
                      <li>Complete the  Environmental Checklist and fax a copy to the Service Coordinator within  five (5) days of completion. Completed annually.</li>
                      <li>Complete heat  water Assessment  for the consumer . Water Temperature cannot  be more than  120F degrees.</li>
                      <li>Complete the  Toxin  and Poison Assessment for the Consumer.</li>
                      <li>Complete the Fire Drill (To be completed monthly at different times i.e  Awale  and Sleep Time</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div style="margin-bottom: 11rem;"></div>

  <!-- Bottom footer -->
  <%- include('../../partials/bottombar'); -%>
</div>

<!-- page footer -->
<%- include('../../partials/footer'); -%>