<%- include('../../partials/header'); -%>

<%- include('../../partials/sidebar'); -%>


<div class="main-panel">
  <!-- Navbar area -->
  <%- include('../../partials/navbar'); -%>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title"><%= title %></h4>
              <p class="card-category">A Sample of Minutes for Advisory Committee Meeting</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="card-header text-center">
                    <h3>
                      AGENCY NAME <br>
                      MINUTES OF ADVISORY COMMITTEE HELD ON ( DATE)
                    </h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="card-header" style="text-align:justify">
                    <p class="card-title">
                      The meeting started by 4.30p.m prompt. The Program Director  informed the members present that this was the first  Advisory Committee  Meeting for this contract area.
                    </p><br>
                    <p class="card-title">
                      The first agenda in the meeting was discussed, which involved evaluating and addressing the satisfaction of individuals and LAR in our Program. The Program Director  informed the meeting that the Agency has mailed out the consumer satisfaction questionnaire to Mickey Skelton and the Foster Care Companion. I also spoke on the phone with them and also during my monthly visit with the Consumer did inquire with them, whether, they are satisfied with the level of service provided by the Agency. The feedback we have received from the our consumer and Foster Care Companion is that they are satisfied with our level of service.
                    </p><br>
                    <p class="card-title">
                      The program Director informed the meeting that for this quarter, we did not receive any complaint from the consumer or their LAR. The  Program Director always call the Consumer and Foster Care Companion on the Phone to confirm and discuss with them, whether they have any complaint. Secondly during my quarterly visit to Mickey Skelton house, the Program Director also ask the consumer and the Foster Care Companion, whether they have any complaint that they would like to draw to my attention.
                    </p><br>
                    <p class="card-title">
                      The Program Director informed the meeting that for this quarter we did not have any case of neglect, abuse and exploitation against any individual.  We will continue to provide training to create awareness on the importance of reporting any suspected case of abuse and neglect.
                    </p><br>
                    <p class="card-title">
                      The Program Director informed the committee that during the quarter under review the Agency did not terminate any Program Services to individuals and that for services we cannot provide at a comfortable level of quality assurance, we normally contract with other HCS Agency or Contractors to provide the services to our Consumers.
                    </p><br>
                    <p class="card-title">
                      The meeting was informed by the Program Director  that we continuously carry out quality control review, in order to identify areas for improvement of services to consumers. New employees are trained by the nursing unit on infection control, delivery of medication to consumers, program director train them on confidentiality, abuse , neglect and exploitation. The program director informed the meeting that we will continuously source for areas for improvement of service delivery to consumers.
                    </p><br>
                    <p class="card-title">
                      The critical incident report for the period was reviewed, the committee and consumers we informed that we did not have any critical incident to report for the period.
                    </p>
                    <p class="card-title">
                      The meeting came to an end by 5.30 p.m and the date for the next meeting was fixed for ( DATE). 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div style="margin-bottom: 11rem;"></div>

  <!-- Bottom footer -->
  <%- include('../../partials/bottombar'); -%>
</div>

<!-- page footer -->
<%- include('../../partials/footer'); -%>