<%- include('../../partials/header'); -%>

<%- include('../../partials/sidebar'); -%>


<div class="main-panel">
  <!-- Navbar area -->
  <%- include('../../partials/navbar'); -%>

  <div class="content">

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">All Appointments</h4>
                  <p class="card-category">Lists all appointment bookings</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table data-table">
                      <thead class="text-primary">
                        <th class="text-bold">
                          Consumer Name
                        </th>
                        <th class="text-bold">
                          Consumer Age
                        </th>
                        <th class="text-bold">
                          Date of Appointment
                        </th>
                        <th class="text-bold">
                          Time of Appointment
                        </th>
                        <!-- <th class="text-bold">
                          Status
                        </th> -->
                        <!-- <th class="text-bold text-right">
                          Actions
                        </th> -->
                      </thead>
                      <tbody>
                        <% for(appointment of appointments){ %>
                          <tr>
                            <td>
                              <%= appointment.consumerName %>
                            </td>
                            <td>
                              <%= appointment.age %>
                            </td>
                            <td class="formatted-date">
                              <%= appointment.dateOfAppointment %>
                            </td>
                            <td>
                              <%= appointment.time %>
                            </td>
                            <!-- <td>
                              <%= appointment.status %>
                            </td> -->
                            <!-- <td class="text-right">
                              <a href="/dashboard/appointments/<%= appointment._id %>" class="btn btn-link btn-info btn-just-icon like show-details"><i class="material-icons">description</i></a>
                            </td> -->
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    
      </div>
    
    </div>
  
  
  </div>



  <!-- Bottom footer -->
  <%- include('../../partials/bottombar'); -%>
</div>

<!-- page footer -->
<%- include('../../partials/footer'); -%>