<%- include('../../partials/header'); -%>

<%- include('../../partials/sidebar'); -%>


<div class="main-panel">
  <!-- Navbar area -->
  <%- include('../../partials/navbar'); -%>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title"><%= title %></h4>
              <p class="card-category">Describes all services to be performed by a registered Nurse</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-7">
                  <div class="card-header">
                    <h6>
                      Nursing services service delivery to the consumer most be continuous and consistent with no gap in service delivery.
                    </h6>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="card-header">
                    <h4 class="card-title" style="font-weight:bold">
                      1. The nursing department will set up the following appointments date  for  each  the consumers.
                    </h4>
                    <ol class="card-category">
                      <li>Initial nursing assessment.</li>
                      <li>Initial primary care physician evaluation.</li>
                      <li>Annual physical examination.</li>
                      <li>Date for initial and subsequent dental examination and management.</li>
                      <li>Date for vision examination.</li>
                      <li>Review other areas of medical services based on the need of the consumer.</li>
                    </ol>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="card-header">
                    <h4 class="card-title" style="font-weight:bold">
                      2. The nursing department will monitor the following.
                    </h4>
                    <ol class="card-category">
                      <li>Implementation of physician order.</li>
                      <li>Medication administration record (mar) review.</li>
                      <li>Reconciliation and matching of physician   order to the medication in the mar.</li>
                      <li>Matching the medication in the consumer home to the mar and physician order.</li>
                      <li>Follow up with medical appointments.</li>
                      <li>Preparation of nursing implementation plan.</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div style="margin-bottom: 11rem;"></div>

  <!-- Bottom footer -->
  <%- include('../../partials/bottombar'); -%>
</div>

<!-- page footer -->
<%- include('../../partials/footer'); -%>